.Search{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.Search input{
    padding: 10px 50px;
}

.Search button{
    padding: 10px 40px;
    background-color: #fa6400;
    color: white;
    font-weight: 16px;
    box-shadow: 0 1px 3px rgba(0 0 0 /2%);
    border-radius: 4px;
    border-color: #fa6400;
    cursor: pointer;
}